.DS_Store
__pycache__/
/venv/
/rag/stackoverflow-rewrite-query-optimization.jsonl
/rag/stackoverflow-rewrite-rules-query-optimization.jsonl
/rag/stackoverflow-rewrite-sql-templates-embed-query-optimization.jsonl
/rag/stackoverflow-rewrite-sql-templates-query-optimization.jsonl
/rag/chroma_db/
/my_rewriter/APIKeys.yaml
